*.o
*~
configure
config.*
Makefile
*.in
compile
install-sh
missing
depcomp
.deps
.libs
*.la
*.so
aclocal.m4
autom4te.cache
stamp-h1
.dirstamp
*.gmon
*.core
test-driver
*.log
*.trs
libtool
m4
ltmain.sh
*.lo
*.t
simple-interp
*.gcda
*.gcno
*.gcov
gen-*
ava-config.h
*-trait.h
*.class
*.bc
